@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para o checkbox personalizado */
.peer:checked ~ div {
    background-color: #3b82f6; 
    border-color: #3b82f6;
}

/* Efeito de clique nos botões */
.btn-editar:active, .btn-deletar:active {
    transform: scale(0.95);
}

/* Estilização da barra de rolagem para navegadores WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2563eb; 
}

* {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #f1f1f1; 
}